# 컬렉션

- 여러 값을 하나의 이름으로 묶어서 관리하는 자료형

- 컬렉션의 종류
    - 리스트
        - 생성함수 : list()
        - 특징 : 추가, 수정, 삭제가 언제나 가능(대괄호)
        - 예) : 1 = [1, 2, 3]
        
    - 튜플
        - 생성함수 : tuple()
        - 특징 : 생성되고 나면 변경 불가능(소괄호)
        - 예) : a = (1, 2, 3)
    
    - 세트
        - 생성함수 : set()
        - 특징: 중복된 값의 저장 불가능(중괄호)
        - 예) : a = {1, 2, 3}
    
    - 딕셔너리
        - 생성함수 : dict()
        - 특징 : 키 + 값으로 관리{key : value}
        - 예) : a = {"age" : 25}
        
- 이 중에서 저장된 값들의 순서가 있는 컬렉션을 "시퀀스(sequence)"라고 부름
    - 시퀀스 : 리스트, 튜플

In [21]:
li = [1, 2, 3, 4, 5] # 리스트
set_ = {1, 2, 3, 3, 4} # 세트
tu = (2, 2, 3, 4, 5) # 튜플
dic = {"aaa" : 1, "bbb" : 2, "ccc" : 3} # 딕셔너리

print(li)
print(type(li))
print(set_)
print(type(set_))
print(tu)
print(type(tu))
print(dic)
print(type(dic))

[1, 2, 3, 4, 5]
<class 'list'>
{1, 2, 3, 4}
<class 'set'>
(2, 2, 3, 4, 5)
<class 'tuple'>
{'aaa': 1, 'bbb': 2, 'ccc': 3}
<class 'dict'>

# 리스트(list)

- 여러가지 자료를 저장할 수 있는 자료
    - 지금까지 활용한 숫자나 문자, 수식 등이 개별적인 자료라면, 리스트는 이런 자료들을 모아서 사용할 수 있게 해주는 특별한 형태의 자료
    
- 리스트 생성하는 법 : 대괄호에 자료를 쉼표로 구분해서 입력
    - [요소, 요소, 요소, ......]
    - 대괄호 내부에 넣는 자료를 요소(element)라고 함

In [22]:
# 숫자만으로 구성된 리스트
list_num = [1, 2, 3, 4]

# 문자열만으로 구성된 리스트
list_str = ["a", "b", "c"]

# 여러 자료형으로 구성된 리스트
list_mix = [273, 32, 103, "문자열", True, False]

In [23]:
# 인덱싱, 슬라이싱
li[0]

1

In [24]:
li[-1]

5

In [25]:
li[:3]

[1, 2, 3]

In [26]:
# 이중리스트
li = [1, 2, 3, ["a", "b", "c"]]

In [27]:
li[-1]

['a', 'b', 'c']

In [28]:
li[-1][0]

'a'

In [29]:
li[2:]

[3, ['a', 'b', 'c']]

## 리스트 연산

- 문자열에 적용할 수 있는 연산자는 리스트에도 활용할 수 있음

In [30]:
# 리스트 병합
a = [1, 2, 3]
b = [4, 5, 6]

a + b

[1, 2, 3, 4, 5, 6]

In [31]:
# 리스트 반복
a * 2

[1, 2, 3, 1, 2, 3]

## 리스트 수정, 삭제

In [32]:
li

[1, 2, 3, ['a', 'b', 'c']]

In [33]:
# 요소를 인덱스로 삭제
del li[-1] # 슬라이싱도 사용 가능

In [34]:
li

[1, 2, 3]

- 파괴적
    - 원본 데이터가 훼손
    - 리스트의 경우 추가 및 수정을 통해 파괴될 것을 전제로 사용되기 때문에 파괴적인 문법이 많음
- 비파괴적
    - 원본 데이터에는 아무런 영향이 없으나 해당 연산을 진행했을때 보여짐
    - 일반적으로 기본임

In [35]:
# 수정
print(li[2])
li[2] = 4
print(li)

3
[1, 2, 4]

In [36]:
# remove 함수를 이용한 삭제(값을 통한 삭제)
li.remove(4)

In [37]:
li

[1, 2]

In [38]:
# remove 함수는 리스트에서 첫 번째로 나오는 특정 요소를 삭제하는 함수
li = [1, 2, 3, 1, 2, 3]

li.remove(3)

print(li)

[1, 2, 1, 2, 3]

In [41]:
# pop 함수를 이용한 삭제
# 제거할 위치를 입력하지 않으면 기본값(-1)을 적용해서 리스트의 맨 마지막 요소를 반환하고 해당 요소를 삭제
# 반환하기 때문에 변수 안에 넣어 줄 수도 있음
li = [1, 2, 3]

delete = li.pop()

In [42]:
print(li)
print(delete)

[1, 2]
3

In [43]:
# 특정 인덱스의 요소를 반환하는 것도 가능
li = [1, 2, 3]

li.pop(1)

2

In [44]:
li

[1, 3]

## 리스트 관련 함수

In [45]:
# 요소 추가
# 리스트 뒤에 요소를 추가(기본적으로)
li.append(5)

In [46]:
li

[1, 3, 5]

In [47]:
li.append([1, 2, 3])

In [48]:
li

[1, 3, 5, [1, 2, 3]]

In [49]:
# 요소 삽입
# 괄호 안에서 정한 위치에 요소를 삽입
# 해당 위치의 요소는 뒤로 하나씩 밀림
li = [1, 2, 3]

li.insert(0, 4) #(인덱스 위치, 추가할 값)

In [50]:
li

[4, 1, 2, 3]

In [52]:
# 리스트 확장
# 리스트 뒤에 새로운 리스트의 요소들을 모두 추가
# 한 번에 여러 요소를 추가하고 싶을 때 사용
li

[4, 1, 2, 3]

In [53]:
li.extend([4, 5])

In [54]:
li

[4, 1, 2, 3, 4, 5]

#### 리스트 연결 연산자와 리스트 확장의 차이

- 공통점
    - 리스트 연결 연산자와 extend() 함수는 비슷한 형태로 동작
        - 리스트와 리스트를 연결
        
- 차이점
    - 리스트 연결 연산자(+)는 원본 리스트에 아무런 영향을 주지 않음
        - 비파괴적
    - extend() 함수는 원본 리스트에 직접적인 영향을 줌
        - 파괴적
        
- 기본적으로 자료는 비파괴적으로 사용하는 것이 편리
    - 원본으로도 활용할 수 있고 새로운 결과도 활용할 수 있으므로 선택지가 더 넓기 때문
    - 따라서 기본 자료형(숫자, 문자열, 불)과 관련된 것들은 비파괴적으로 작동
    
- 하지만 리스트는 용량이 매우 커질 수 있음
    - 용량이 얼마나 커질 지 알 수 없기 때문에 원본과 결과 두 가지 상태를 다 생성하는 것은 위험할 수 있음
    - 이런 경우 원본 데이터를 직접 조작하는 기능을 통해 위험을 회피

In [55]:
# 리스트의 오름차순 정렬
li = [1, 4, 3, 2]

li.sort()

In [56]:
li

[1, 2, 3, 4]

In [57]:
# 내림차순 정렬
li.sort(reverse = True)
li

[4, 3, 2, 1]

In [58]:
# 리스트 뒤집기(파괴적)
li = ["a", "c", "b", "d"]
li.reverse()

In [59]:
li

['d', 'b', 'c', 'a']

In [60]:
# 리스트 뒤집기(비파괴적)
li[::-1]

['a', 'c', 'b', 'd']

In [61]:
li

['d', 'b', 'c', 'a']

In [62]:
# 위치 반환
li = [1, 2, 3]
li.index(3)

2

In [63]:
# 리스트에 포함된 요소의 개수 세기
li = [1, 2, 3, 1]
li.count(1)

2

In [66]:
# 리스트의 길이 구하기(리스트 요소의 개수)
len(li)

4

In [67]:
# 리스트 내부 요소를 모두 제거
li.clear()

In [68]:
li

[]

#### 확인문제

- list_a를 적절하게 가공하여 문제에서 제시하는 데이터 만들기

In [69]:
#1. [0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]
list_a = [0, 1, 2, 3, 4, 5]
list_a*2

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [72]:
#2. [0, 1, 2, 3, 4, 5, 10]
list_a = [0, 1, 2, 3, 4, 5]
list_a.append(10)
list_a

[0, 1, 2, 3, 4, 5, 10]

In [86]:
#3. [0, 1, 2, 0, 3, 4, 5]
list_a = [0, 1, 2, 3, 4, 5]
list_a.insert(list_a.index(2) + 1, 0)
list_a

[0, 1, 2, 0, 3, 4, 5]

In [93]:
#4. [0, 1, 2, 4, 5]
list_a = [0, 1, 2, 3, 4, 5]
list_a.pop(list_a.index(3))
list_a

[0, 1, 2, 4, 5]

In [92]:
#1. [0, 1, 2, 3, 4]
list_a = [0, 1, 2, 3, 4, 5]
list_a.remove(5)
list_a

[0, 1, 2, 3, 4]

# 튜플

- 리스트와 유사하지만 튜플은 값의 추가, 삭제, 수정이 불가하다
    - 프로그램이 실행되는 동안 값이 변하면 안되는 경우 주로 사용

In [94]:
tu

(2, 2, 3, 4, 5)

In [95]:
del tu[0]

TypeError: 'tuple' object doesn't support item deletion

In [97]:
tu[0] = 0

TypeError: 'tuple' object does not support item assignment

## 인덱싱, 슬라이싱

In [98]:
tu[0]

2

In [99]:
tu[1:]

(2, 3, 4, 5)

## 튜플 연산

In [100]:
tu1 = (1, 2)
tu2 = (3, 4)

tu1 + tu2

(1, 2, 3, 4)

In [103]:
tu1 * 2

(1, 2, 1, 2)

# 딕셔너리

- 자료의 대응관계를 나타내는 자료형
    - 연관 배열(Associative array) 또는 해시(Hash)
    
- 데이터를 조회할 때 key를 통해 value를 구함

- 딕셔너리 선언
    - 중괄호({})로 선언
    - 키 : 값 의 형태를 콤마(,)로 연결해서 만듦
        - 키는 문자열, 숫자, 불 등으로 선언할 수 있지만 일반적으로는 문자열을 주로 사용

In [104]:
dic = {"name" : "andy", "birth" : "1118"}

In [105]:
dic

{'name': 'andy', 'birth': '1118'}

In [106]:
dic["name"]

'andy'

In [107]:
dic["birth"]

'1118'

In [119]:
dic = {"a" : [1, 2, 3]}
dic

{'a': [1, 2, 3]}

In [109]:
dic["a"]

[1, 2, 3]

In [110]:
dic["a"][-1]

3

## 딕셔너리 추가, 수정, 삭제

In [120]:
# 키를 기반으로 값을 입력
dic["name"]= "andy"

In [121]:
dic

{'a': [1, 2, 3], 'name': 'andy'}

In [122]:
# 이미 존재하는 키를 지정하고 값을 넣으면 기존의 값을 새로운 값으로 대치(수정)
dic["name"] = "파인애플"

In [123]:
dic

{'a': [1, 2, 3], 'name': '파인애플'}

In [124]:
# 삭제
del dic["name"]

In [125]:
dic

{'a': [1, 2, 3]}

- 딕셔너리의 key는 고유한 값임
    - 중복을 허용하지 않음
    - 동일한 key가 존재하면 어떤 value를 불러와야 할 지 알 수 없기 때문이다.

In [126]:
dic = {1 : "a", 1 : "b"}
dic

{1: 'b'}

- 딕셔너리의 key에 튜플은 쓸 수 있음
    - 리스트는 쓸 수 없음
    - 딕셔너리의 key의 요건은 변하지 않는 값(immutable)

In [127]:
dic = {[1, 2] : "hi"}

TypeError: unhashable type: 'list'

In [128]:
dic = {(1, 2) : "hi"}

In [129]:
dic

{(1, 2): 'hi'}

In [130]:
dic[(1, 2)]

'hi'

In [ ]:
## 딕셔너리 관련 함수

- key, value, item 리스트

In [132]:
dic = {"name" : "andy", "phone" : "0119991234", "birth" : "1118"}

In [134]:
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [135]:
dic.values()

dict_values(['andy', '0119991234', '1118'])

In [137]:
dic.items()

dict_items([('name', 'andy'), ('phone', '0119991234'), ('birth', '1118')])

- get으로 value 얻기
    - 존재하지 않는 키로 값을 가져오려고 할 경우 오류가 발생함
        - get으로 key가 없을 경우 기본값을 대신 가져오게 할 수 있음

In [138]:
dic["foo"]

KeyError: 'foo'

In [140]:
dic.get("foo", "bar") # (키, 기본값)

'bar'

In [141]:
dic.get("name", "bar") # (키, 기본값)

'andy'

- 해당 key가 딕셔너리 안에 있는지 조사하기

In [142]:
dic

{'name': 'andy', 'phone': '0119991234', 'birth': '1118'}

In [143]:
"name" in dic

True

In [144]:
"email" in dic

False

#### 확인문제

In [152]:
# 다음의 pets 데이터에서 "구름" 과 3을 각각 출력해보기
pets = [
    {"name" : "구름", "age" : 5},
    {"name" : "초코", "age" : 3},
    {"name" : "아지", "age" : 1},
    {"name" : "호랑이", "age" : 2},
]

In [153]:
print(pets[0]["name"]) # 구름
print(pets[1]["age"]) # 3

구름
3

# 세트

- 중복을 허용하지 않음
- 순서가 없음

In [154]:
se1 = set("Hello")

In [155]:
se1

{'H', 'e', 'l', 'o'}

- 교집합, 합집합, 차집합

In [156]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

In [157]:
# 교집합
set1 & set2

{4, 5, 6}

In [158]:
set1.intersection(set2)

{4, 5, 6}

In [161]:
# 합집합
set1 | set2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [163]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [164]:
# 차집합
set1 - set2

{1, 2, 3}

In [165]:
set2 - set1

{7, 8, 9}

In [166]:
set1.difference(set2)

{1, 2, 3}

In [167]:
set2.difference(set1)

{7, 8, 9}

## 세트 관련 함수

In [168]:
# 값 추가
set1

{1, 2, 3, 4, 5, 6}

In [170]:
set1.add(7)
set1

{1, 2, 3, 4, 5, 6, 7}

In [171]:
# 값 제거
set1.remove(2)
set1

{1, 3, 4, 5, 6, 7}