In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, classification_report

# 데이터 준비

In [2]:
# load_dataset 함수를 사용하여 데이터프레임으로 변환
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# 데이터 탐색

In [3]:
# 데이터 자료형 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [4]:
df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [5]:
# 결측치가 많은 deck 열은 삭제, embarked 와 내용이 겹치는 embark_town 열을 삭제
rdf = df.drop(["deck", "embark_town"], axis = 1)

In [6]:
rdf.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'alive', 'alone'],
      dtype='object')

In [7]:
# age 열에 결측치가 있는 모든 행을 삭제(177개 행)
rdf = rdf.dropna(subset = ["age"], axis = 0)

In [8]:
len(rdf)

714

In [10]:
# embarked 열의 NaN 값을 승선도시 중에서 가장 많이 출현한 값(최빈값)으로 치환
rdf["embarked"].value_counts()

embarked
S    554
C    130
Q     28
Name: count, dtype: int64

In [12]:
most_freq = rdf["embarked"].value_counts().idxmax()
most_freq

'S'

In [13]:
rdf["embarked"].fillna(most_freq, inplace = True)

# 분석에 사용할 속성을 선택

In [14]:
rdf.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,no,True

In [15]:
ndf = rdf[["survived", "pclass", "sex", "age", "sibsp", "parch", "embarked"]]
ndf.head()

   survived  pclass     sex   age  sibsp  parch embarked
0         0       3    male  22.0      1      0        S
1         1       1  female  38.0      1      0        C
2         1       3  female  26.0      0      0        S
3         1       1  female  35.0      1      0        S
4         0       3    male  35.0      0      0        S

In [18]:
# 원핫인코딩 - 범주형데이터를 인식할 수 있도록 숫자형으로 변환
onehot_sex = pd.get_dummies(ndf["sex"], dtype = "int64")
onehot_sex

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
885       1     0
886       0     1
887       1     0
889       0     1
890       0     1

[714 rows x 2 columns]

In [19]:
# 원핫인코딩 데이터를 열방향 연결
ndf = pd.concat([ndf, onehot_sex], axis = 1)

In [20]:
ndf.head()

   survived  pclass     sex   age  sibsp  parch embarked  female  male
0         0       3    male  22.0      1      0        S       0     1
1         1       1  female  38.0      1      0        C       1     0
2         1       3  female  26.0      0      0        S       1     0
3         1       1  female  35.0      1      0        S       1     0
4         0       3    male  35.0      0      0        S       0     1

In [21]:
# 승선도시 원핫인코딩
onehot_embarked = pd.get_dummies(ndf["embarked"], prefix = "town", dtype = "int64")
onehot_embarked.head()

   town_C  town_Q  town_S
0       0       0       1
1       1       0       0
2       0       0       1
3       0       0       1
4       0       0       1

In [22]:
ndf = pd.concat([ndf, onehot_embarked], axis = 1)
ndf.head()

,survived,pclass,sex,age,sibsp,parch,embarked,female,male,town_C,town_Q,town_S
0,0,3,male,22.0,1,0,S,0,1,0,0,1
1,1,1,female,38.0,1,0,C,1,0,1,0,0
2,1,3,female,26.0,0,0,S,1,0,0,0,1
3,1,1,female,35.0,1,0,S,1,0,0,0,1
4,0,3,male,35.0,0,0,S,0,1,0,0,1

In [23]:
ndf = ndf.drop(["sex", "embarked"], axis = 1)

In [24]:
ndf.head()

   survived  pclass   age  sibsp  parch  female  male  town_C  town_Q  town_S
0         0       3  22.0      1      0       0     1       0       0       1
1         1       1  38.0      1      0       1     0       1       0       0
2         1       3  26.0      0      0       1     0       0       0       1
3         1       1  35.0      1      0       1     0       0       0       1
4         0       3  35.0      0      0       0     1       0       0       1

# 데이터셋 분할 - 훈련용/테스트용

In [25]:
# 변수 선택
x = ndf.drop("survived", axis = 1) # 독립 변수 x
y = ndf["survived"] # 종속 변수 y

In [26]:
y.value_counts()

survived
0    424
1    290
Name: count, dtype: int64

In [27]:
# train/test 분할(7:3 비율)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, stratify = y, random_state = 7)

In [28]:
len(x_train), len(x_test)

(499, 215)

# KNN 분류

In [29]:
# KNN 분류 모델 객체 생성(k = 5 로 설정)
knn = KNeighborsClassifier(n_neighbors = 5)

In [30]:
# train data 로 모델 학습
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [31]:
# test data에 대해 예측
y_pred = knn.predict(x_test)

In [32]:
# 정답값과 예측값 비교
pd.DataFrame({"ans" : y_test, "pred" : y_pred})

     ans  pred
11     1     1
429    1     1
130    0     0
651    1     1
182    0     0
..   ...   ...
408    0     0
439    0     0
289    1     1
78     1     1
520    1     1

[215 rows x 2 columns]

# 모델 평가

In [34]:
# 모델 성능 평가 - Confusion Matrix 계산
knn_matrix = confusion_matrix(y_test,y_pred)
knn_matrix # 0인 레이블을 0이라 예측한 경우, 0인 레이블을 1이라 한 경우, 1인 레이블을 0이라 한 경우

array([[108,  20],
       [ 28,  59]], dtype=int64)

## 오차 행렬

<img src = "./image/confusion.png">

- 이진 분류에서 성능 지표로 잘 활용됨
- 분류 모델이 예측을 수행하면서 얼마나 헷갈리고 있는지도 함께 보여주는 지표
    - 이진 분류의 예측 오류가 얼마인지와 더불어 어떠한 유형의 예측 오류가 발생하고 있는지를 함께 나타내는 지표

In [35]:
# 모델 성능 평가 - 평가지표 계산
knn_report = classification_report(y_test, y_pred)

In [36]:
print(knn_report)

              precision    recall  f1-score   support

           0       0.79      0.84      0.82       128
           1       0.75      0.68      0.71        87

    accuracy                           0.78       215
   macro avg       0.77      0.76      0.76       215
weighted avg       0.77      0.78      0.77       215

- 정확도
    - 예측 결과와 실제 값이 동일한 건수 / 전체 데이터 수
    - (TN + TP) / (TN + FP + FN + TP)
    
- 정밀도(precision)
    - 양성으로 예측한 데이터 중 실제로 양성인 데이터의 비율
    - TP / (FP + TP)
    - 정밀도가 더 중요한 지표인 경우는 양성으로 분류된 데이터가 실제로는 양성이 아니라면 업무상 큰 영향이 발생하는 경우
        - 예) 스팸메일 판단 모델 : 일반 메일을 스팸메일로 잘못 분류하면 메일을 아예 받지 못할 수 있어 업무에 차질이 생김
        
- 재현율, 민감도(recall)
    - 실제 양성인 데이터 중 양성으로 예측한 비율
    - TP / (FN + TP)
    - 재현율이 중요 지표인 경우는 실제 양성 데이터를 음성으로 잘못 판단하게 되면 업무상 큰 영향이 발생하는 경우
        - 예) 암 판단 모델 : 암 환자를 음성으로 잘못 판단한다면 생명을 앗아갈 정도로 심각한 문제이기 때문
- 특이도(specificity)
    - 실제 음성인 데이터 중 음성으로 예측한 비율
    - TN / (TN +FP)
    
- 코로나 검사키트의 경우
    - 민감도 90% 이상
        - 실제 양성인 사람이 코로나 검사를 하면 양성으로 예측될 확률 90% 이상 
        
    - 특이도 99% 이상
        - 실제 음성인 사람이 코로나 검사를 하면 음성으로 예측될 확률 99% 이상

# 모델 고도화

In [37]:
x.head()

   pclass   age  sibsp  parch  female  male  town_C  town_Q  town_S
0       3  22.0      1      0       0     1       0       0       1
1       1  38.0      1      0       1     0       1       0       0
2       3  26.0      0      0       1     0       0       0       1
3       1  35.0      1      0       1     0       0       0       1
4       3  35.0      0      0       0     1       0       0       1

In [39]:
ss = StandardScaler()

In [41]:
scaled_train = ss.fit_transform(x_train)
scaled_test = ss.transform(x_test)

In [43]:
knn = KNeighborsClassifier(n_neighbors = 5)

In [44]:
knn.fit(scaled_train, y_train)

KNeighborsClassifier()

In [45]:
y_pred = knn.predict(scaled_test)

In [46]:
pd.DataFrame({"ans" : y_test, "pred" : y_pred})

     ans  pred
11     1     1
429    1     1
130    0     0
651    1     1
182    0     0
..   ...   ...
408    0     0
439    0     0
289    1     1
78     1     1
520    1     1

[215 rows x 2 columns]

In [47]:
knn_matrix = confusion_matrix(y_test, y_pred)
knn_matrix

array([[100,  28],
       [ 20,  67]], dtype=int64)

In [48]:
knn_report = classification_report(y_test, y_pred)
print(knn_report)

              precision    recall  f1-score   support

           0       0.83      0.78      0.81       128
           1       0.71      0.77      0.74        87

    accuracy                           0.78       215
   macro avg       0.77      0.78      0.77       215
weighted avg       0.78      0.78      0.78       215