# 자료형

- 자료(data) : 프로그램이 처리할 수 있는 모든 것
- 자료형(data type) : 자료를 개발자들이 수비게 사용할 수 있도록 기능과 역할에 따라서 구분한 종류
    - 문자열(string) :  메일 제목, 메시지 내용 등
        - 예) "안녕하세요", "Hello, World!"
    - 숫자(number) : 물건의 가격, 학생의 성적 등
        - 예) 52, 273, 103.32
    - 불(boolean) : 사용자의 로그인 상태 등
        - 예) True, False

## 숫자 자료형

- 숫자 자료형의 종류
    - 정수형(integer) : 소수점이 없는 숫자
        - 예) 0, 1, 273, -53
    - 실수형(floating point) : 소수점이 있는 숫자
        - 예) 0.0, 52.573, -1.2
        
- 주의점
    - 0과 0.0은 같은 크기를 표현하지만 소수점의 여부에 따라 숫자의 자료형이 달라짐

In [1]:
0 == 0.0

True

In [3]:
0 is 0.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\sungj\AppData\Local\Temp\ipykernel_1100\3964195525.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  0 is 0.0

False

### 정수형(integer)

In [1]:
a = 123
b = -178
c = 0

print(a)
print(b)
print(c)

123
-178
0

- 변수 명을 잘 짜야하는 이유
    - 데이터의 이름 - 데이터의 출처, 데이터의 목적, 데이터의 타입 등등
    - 유지보수 - 데이터의 재사용

- camel 케이스 - 띄어쓰기를 대문자로 표기(클래스명 에 사용) ex)AbcdEfg

- snake 케이스 - 띄어쓰기를 언더바로 표기(변수명, 함수명 등에 사용) ex)abcd_efg
    - 변수명은 명사_명사(_type)
    - 함수명은 동사_명사

In [ ]:
# type() : 자료형 확인하기
# type 함수의 괄호 내부에 자료를 넣으면 그 자료가 어떤 자료형을 가지고 있는지 확인
print(type(a))
print(type(b))
print(type(c))

- 해석순서 = 가장 안쪽 괄호부터
    - 예) print(type(a)) = type() 부터 실행 후 print() 실행
- . 으로 이어지는 경우 왼쪽부터 실행
    - 예) a().b() = a() 실행 후 b()실행

## 실수형(Floating-point)

In [3]:
a = 1.2
b = -3.45

print(a)
print(b)
print(type(a))
print(type(b))

1.2
-3.45
<class 'float'>
<class 'float'>

### 실수형의 지수 표현 방식

- 점 앞에는 숫자 하나만 표기
    - 4.24 e+4 = 42400
        - 소수점을 뒤로 4칸 옮김
    - 4.24 e-4 = 0.000424
        - 소수점을 앞으로 4칸 옮김 
- 점이 붙는 경우 타입은 실수

In [4]:
a = 4.24e4
b = 4.24e-4

print(a)
print(b)
print(type(a))
print(type(b))

42400.0
0.000424
<class 'float'>
<class 'float'>

### 2진수, 8진수, 16진수

In [5]:
# 2진수
bi = 0b1010
# 0b이후 표기
print(bi)

10

In [6]:
# 8진수
oc =0o177
# 0o
print(oc)

127

In [8]:
# 16진수
he = 0x177
# 0x
print(he)

375

#### 숫자에서 다른 진수로 변환하기

- int -> str

In [9]:
bi = bin(42)
oc = oct(42)
he = hex(42)

print(bi)
print(type(bi))
print(oc)
print(type(oc))
print(he)
print(type(he))

0b101010
<class 'str'>
0o52
<class 'str'>
0x2a
<class 'str'>

#### 다른 진수의 문자열에서 숫자형으로 변환하기

In [10]:
print(int(bi, 2))

42

In [11]:
print(int(oc, 8))

42

In [12]:
print(int(he, 16))

42

## 사칙연산

In [15]:
a = 3
b = 4

print(a + b) # 합
print(a - b) # 차
print(a * b) # 곱
print(a / b) # 나눗셉 a를 b로 나눔
print(a ** b) # 제곱 a의 b승
print(a // b) # 몫
print(a % b) # 나머지

7
-1
12
0.75
81
0
3

## 연산자의 우선순위

- 숫자를 계산할 때는 곱셈과 나눗셈이 덧셈과 뺄셈보다 우선함
- 같은 우선순위를 가지는 연산자는 왼쪽에서 오른쪽 순서로 계산

In [16]:
print(2 + 2 - 2 * 2 / 2 * 2)

0.0

- 2 + 2 - (2 * 2 / 2 * 2) => 순
- 할당연산자(=) 은 항상 마지막
- 곱하기, 나누기 부터 하는 이유는 단항식이기 때문(ex. 2 * a = 2a)

In [17]:
# 먼저 연산하고 싶은 부분은 괄호로 표현
print((5 + 3) * 2)
print(5 + 3 * 2)

16
11

In [18]:
# 연산자 우선순위가 확실한 경우에도 명확하게 표현하기 위해 괄호를 사용하기도 함
5 + (3 * 2)

11

# 문자열 자료형(string)

- 문자열 : 글자들이 나열된 것

In [19]:
a = "Hello, World!"
b = "123"

print(a)
print(type(a))
print(b)
print(type(b))

Hello, World!
<class 'str'>
123
<class 'str'>

In [20]:
# 문자열 표기법
print("Hello") # 큰따옴표
print('Hello') # 작은따옴표
print("""Hello""") # 큰삼중따옴표
print('''Hello''') # 작은삼중따옴표

Hello
Hello
Hello
Hello

### 문자열에 따옴표 포함하기(escape 문)

In [21]:
# 치고 싶은 문장이 'Python's favorite food is perl' 일때
print("Python's favorite food is perl")

Python's favorite food is perl

- 'Python's favorite food is perl' 일 때 작은따옴표로 열어 작은따옴표로 닫기 때문에 'Python'과 s favorite food is perl과 ' 로 나뉨
- 고로 여는 따옴표와 다른 따옴표를 넣을 경우 문자열에 넣어 출력이 가능

In [24]:
print('"Python is very easy." he says')

"Python is very easy." he says

In [25]:
# 백슬래시를 이용한 방법
# \와 큰따옴표, 작은따옴표를 사용하면 문자열을 만드는 기호가 아니라 단순한 따옴표로 인식
print('Python\'s favorite food is perl')

Python's favorite food is perl

- 역슬래시의 경우 폰트에 따라 원화표시로 나오는 경우가 있지만 동일

In [26]:
print("\"Python is very easy.\" he says")

"Python is very easy." he says

### 여러 줄인 문자열

In [27]:
lines = "Life is too short\nYou need python"
print(lines)

Life is too short
You need python

- 한 줄의 코드 안에 여러줄 문자열을 입력하고 싶을 때 여러줄문자열(\n) 사용

In [28]:
lines = ''' Life is too short
You need python'''
print(lines)

 Life is too short
You need python

- \n 이용 시 가독성의 문제가 발생할 수도 있어 삼중따옴표를 사용하는 방법이 용이할 수도 있음

#### 이스케이프 코드

- 특별한 의미를 가지는, 미리 정의된 문자 조합
    - \n : 줄바꿈(엔터)
    - \t : 탭
    - \\\ : 역슬래시 문자열 입력

In [29]:
print("안녕하세요\t안녕하세요")

안녕하세요	안녕하세요

## 문자열 연산자

- 각각의 자료는 사용할 수 있는 연산자가 정해져 있음

### 문자열 연결 연산자

- 두 문자열을 연결해서 새로운 문자열을 만들어냄

In [30]:
# 문자열은 + 연산자로 문자열 연결 연산 적용
# 숫자 더하기 연산자와 문자열 연결 연산자 모두 + 기호를 사용하지만 완전히 다른 기능을 수행
"Hello, " + "World!"

'Hello, World!'

In [31]:
# 문자열과 숫자 사이에 문자열 연결 연산자를 사용하면 에러 발생
print("안녕하세요" + 1)

TypeError: can only concatenate str (not "int") to str

In [32]:
# 만약 "안녕하세요1"을 출력하고 싶은 경우 숫자도 문자열로 인식시켜야 함
print("안녕하세요" + "1")

안녕하세요1

### 문자열 반복 연산자

- 문자열을 숫자와 * 연산자로 연결
- 문자열을 숫자만큼 반복해서 출력

In [33]:
"Hello" * 3

'HelloHelloHello'

In [34]:
# string과 string은 에러를 띄움
"Hello" * "3"

TypeError: can't multiply sequence by non-int of type 'str'

In [35]:
# 순서는 바뀌어도 상관 없음
3 * "Hello"

'HelloHelloHello'

### 문자열 인덱싱(indexing)

- 대괄호(문자 선택 연산자)는 문자열 내부의 문자 하나를 선택하는 연산자
- 대괄호 안에 선택할 문자의 위치(인덱스(index))를 지정
    - 파이썬은 인덱스를 0부터 셈

In [36]:
str1 = "Hello"
#       01234

In [37]:
str1[0]

'H'

In [38]:
str1[4]

'o'

In [39]:
str1[-1]

'o'

### 문자열 슬라이싱(slicing)

- 문자열의 범위를 지정
- 대괄호 안에 위치를 콜론(:) 으로 구분해서 지정
    - 파이썬은 범위 지정 시 마지막 숫자를 포함하지 않음

In [40]:
str1[0:4]

'Hell'

In [41]:
# 대괄호 안에 넣는 숫자를 생략할 수 있음
# 생략하면 자동으로 가장 최대 위치(첫 번째 글자 또는 마지막 글자)까지 지정
str1[:4] # [시작인덱스 : 종료 인덱스 : 증감값]

'Hell'

In [42]:
str1[::2]

'Hlo'

In [44]:
str1[:-1]

'Hell'

In [50]:
print(str1[1:5])
print(str1[1:6])
print(str1[1:])

ello
ello
ello

In [49]:
str1[:]

'Hello'

## 문자열 포매팅(Formatting)

In [60]:
# 출력포맷 설정하기
a = 3
b = 4
pi = 3.141592

# 문자열 포맷 코드
print("a + b = a + b")
print(a, "+",b, "=", a + b)
print("%d + %d = %d"%(a, b, a + b))

# 문자열 포맷 코드에서 소수점 표현
print("%0.4f"%pi) # 소수점이하 4자리 표현
print("%f"%pi)

# 특정 칸에 출력하기
print("%5d"%(a)) # 5번째칸에 a를 출력
print("%5d"%a)

# 빈칸을 0으로 채우기
print("%05d"%(a))

a + b = a + b
3 + 4 = 7
3 + 4 = 7
3.1416
3.141592
    3
    3
00003

In [73]:
# format 함수 (넣고자 하는 인덱스 번호 입력)
print("{} + {} = {}".format(a, b, (a + b)))
print("{0} + {1} = {2}".format(a, b, (a + b)))
print("{0} + {0} = {0}".format(a, b, (a + b)))

# 이름으로 값 넣기
print("I ate {num} apples. so I was sick for {day} days".format(num = 10, day = 3))
print("I ate {num} apples. so I was sick for {num} days".format(num = 10, day = 3))
print("I ate {day} apples. so I was sick for {num} days".format(num = 10, day = 3))

# 소수점 표현
print("{0}".format(pi))
print("{0:0.04f}".format(pi))
print("{0:0.4f}".format(pi))

# 특정 칸에 출력하기
print("{0}".format(a))
print("{0:5d}".format(a))

# 빈칸을 0으로 채우기
print("{0:05d}".format(a))

3 + 4 = 7
3 + 4 = 7
3 + 3 = 3
I ate 10 apples. so I was sick for 3 days
I ate 10 apples. so I was sick for 10 days
I ate 3 apples. so I was sick for 10 days
3.141592
3.1416
3.1416
3
    3
00003

In [76]:
# f-string(3.6버전부터 가능)
print(f"{a} + {b} = {a + b}")

# 소수점 표현
print(f"{pi}")
print(f"{pi:0.4f}")

# 특정 칸에 출력
print(f"{a:5d}")

# 빈칸을 0으로 채우기
print(f"{a:05d}")

3 + 4 = 7
3.141592
3.1416
    3
00003

### 문자열 관련 함수

In [91]:
str1 = "hobby"

In [92]:
# 문자 개수 세기
str1.count("b")

2

In [93]:
# 위치 찾기1
# 검색하는 문자가 처음으로 나온 위치 반환
str1.find("b")

2

In [95]:
# 검색하는 문자가 존재하지 않는 경우 -1을 반환
str1.find("a")

-1

In [96]:
# 위치 찾기2
str1.index("b")

2

In [97]:
# 검색하는 문자가 존재하지 않는 경우 에러 발생
str1.index("a")

ValueError: substring not found

In [98]:
# 문자열 삽입
",".join("abcd")

'a,b,c,d'

In [99]:
",".join(["a", "b", "c", "d"])

'a,b,c,d'

In [100]:
# 대소문자 변환
print("hello".upper())
print("HELLO".lower())

HELLO
hello

In [101]:
# 공백 제거
" hello ".strip()

'hello'

In [105]:
" hello".strip("o") # 좌우의 괄호안의 문자 제거

' hell'

In [104]:
# 문자열 치환
str1 = "Pithon"

str1.replace("i", "y")

'Python'

In [106]:
# 문자열 나누기
str1 = "Life is too short"

str1.split()

['Life', 'is', 'too', 'short']

In [107]:
str2 = "a:b:c:d"

str2.split(":")

['a', 'b', 'c', 'd']

In [108]:
# 문자열의 길이 구하기
print(len("안녕하세요"))

5

# 불 자료형(Boolean)

- 참(True)과 거짓(False)을 나타내는 자료형
    - 어떤 명제의 결과를 표현
- 불린 또는 불리언 이라는 발음으로 부름
    - 프로그래밍에서는 짧게 Bool 이라고 쓰기도 함

In [110]:
a = True
b = False

print(a)
print(type(a))
print(b)
print(type(b))

True
<class 'bool'>
False
<class 'bool'>

## 불 연산

### 비교 연산자

- == : 같다
- != : 다르다
- <, > : 크다, 작다
- <=, >= : 작거나 같다, 크거나 같다

In [111]:
1 == 1

True

In [112]:
1 != 1

False

In [113]:
2 > 1

True

In [114]:
2 < 1

False

In [115]:
1 < 2 < 3

True

In [116]:
1 < 4 > 3

True

In [117]:
2 >= 1

True

In [118]:
2 <= 1

False

In [119]:
2 => 1

SyntaxError: cannot assign to literal (66969181.py, line 1)

In [120]:
2 =< 1

SyntaxError: cannot assign to literal (3710861996.py, line 1)

In [121]:
# 문자열에 비교 연산자를 적용하면 한글은 사전순서로 앞에 있는 것이 작은 값을 가짐
print("가방" < "하마")
print("가방" > "하마")

True
False

### 타입 변환

In [122]:
bool("python")

True

In [123]:
bool("")

False

In [124]:
bool([1, 2, 3])

True

In [125]:
bool([]) # 리스트 안에 값이 없는 경우를 제외하고는 모두 True

False

In [126]:
bool(1)

True

In [127]:
bool(0) # 숫자의 경우 0을 제외하고 모두 True

False

In [128]:
int(True)

1

In [129]:
int(False)

0

### 논리 연산자

- not : 불을 반대로 변환
- and : 두 값이 모두 참일 때 True를 출력하고, 그 외에는 모두 False를 출력
- or : 두 값 중 하나만 참이어도 True를 출력하고, 두 개가 모두 거짓일 때만 False를 출력

In [130]:
print(not True)
print(not False)

False
True

In [131]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [132]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

# 연습문제

In [26]:
# 1. 자연수를 입력받아 홀수인지 짝수인지 판별하기
# 홀수는 False, 짝수는 True
num = 52

print(num % 2 == 0)
# 2진수의 경우 마지막자리가 0일경우 짝수 인 경우도 있음
print(bin(num)[-1] == "0")

True
True

In [15]:
# 2. 주민등록번호에서 생년월일, 성별 추출하기
hong = "881220-1068234"

# print(생년월일) = 881220
# print(성별) = 1
print(hong[:6])
print(hong[7])

881220
1

In [24]:
print("19",hong[:2],"년", hong[2:4],"월", hong[4:6], "일 생")

19 88 년 12 월 20 일 생

In [23]:
if hong[7] == "1":
    print("남자")
else:
    print("여자")

남자

In [87]:
# 3. 비밀번호 만들기(시험에 나올뻔)
# 사이트별로 아래의 규칙에 따라 비밀번호를 생성하는 코드를 작성하기
# 사이트 주소 예시 : "http://naver.com", "http://daum.net", "http://google.ocm", "http://youtube.com"
# 규칙1 : http:// 부분은 제외한다
# 규칙2 : 처음만나는 점(.) 이후 부분도 제외한다
# 규칙3 : 남은 글자 중 처음 세자리 + 글자 개수 + 글자 내 "e"의 개수 + "!"로 비밀번호를 구성한다

# 규칙에 따라 "http://naver.com"의 비밀번호를 생성하면 nav51! 가 된다
addr = "http://naver.com"
    
addr_rule = addr.split("//")[1][:-4] # = addr[7:-4]

password = str(addr_rule[:3]) + str(len(addr_rule)) + str(addr_rule.count("e")) + "!"

print(password)

nav51!

In [132]:
addr_list = ["http://naver.com", "http://daum.net", "http://google.ocm", "http://youtube.com", "https://www.naver.com"]

for i in range(len(addr_list)):
    if addr_list[i].count(".") == (2 or 3):
        addr = addr_list[i]
        addr_rule = addr.split(".")[1]
        password = str(addr_rule[:3]) + str(len(addr_rule)) + str(addr_rule.count("e")) + "!"
        print(password)
    else:
        addr = addr_list[i]
        addr_rule = addr.split("//")[1][:-4]
        password = str(addr_rule[:3]) + str(len(addr_rule)) + str(addr_rule.count("e")) + "!"
        print(password)

nav51!
dau40!
goo61!
you71!
nav51!

In [135]:
# 강사님 풀이

addr = "http://naver.com"

addr = addr.replace("http://", "") # 규칙 1번 적용
addr = addr[:addr.index(".")] # 규칙 2번 적용

password = addr[:3] + str(len(addr)) + str(addr.count("e")) + "!"

print(password)

nav51!