In [1]:
import pandas as pd

In [2]:
raw_data = {"이름": ['이상해씨', '파이리','꼬부기','캐터피'],
            "진화형": ['이상해풀','리자드','어니부기','단데기'],
            "타입": ['풀', '불', '물', '벌레'],
            "체력": [45, 39, 44, 45],
            "도감등록": ['yes', 'no','yes','no']                        
            }

# 문제1. raw_data를 데이터프레임 형태로 poke 변수에 할당

In [32]:
poke = pd.DataFrame(raw_data)

In [33]:
poke

     이름   진화형  타입  체력 도감등록
0  이상해씨  이상해풀   풀  45  yes
1   파이리   리자드   불  39   no
2   꼬부기  어니부기   물  44  yes
3   캐터피   단데기  벌레  45   no

# 문제2. 데이터프레임의 컬럼을 이름, 타입, 체력, 진화형, 도감등록 순으로 수정

In [35]:
poke = poke[["이름", "타입", "체력", "진화형", "도감등록"]]
poke

     이름  타입  체력   진화형 도감등록
0  이상해씨   풀  45  이상해풀  yes
1   파이리   불  39   리자드   no
2   꼬부기   물  44  어니부기  yes
3   캐터피  벌레  45   단데기   no

# 문제3. 서식지 컬럼에 아래의 정보를 추가

- 이상해씨 : 공원
- 파이리 : 도로
- 꼬부기 : 호수
- 캐터피 : 숲

In [12]:
poke["서식지"] = ["공원", "도로", "호수","숲"]

In [13]:
poke

     이름    타입  체력  진화형 도감등록 서식지
0  이상해씨  이상해풀   풀   45  yes  공원
1   파이리   리자드   불   39   no  도로
2   꼬부기  어니부기   물   44  yes  호수
3   캐터피   단데기  벌레   45   no   숲

# 문제4. 각 컬럼의 데이터 자료형 확인

In [31]:
print(poke.dtypes)

이름      object
타입      object
체력      object
진화형      int64
도감등록    object
서식지     object
dtype: object